@page
@model Prototype_Alpha.Pages.ChartsModel
@{
    ViewData["Title"] = "Charts";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Emotion Analytics (Prototype)</title>

    <!-- Custom styles for this template -->
    <link href="~/css/zSidebar.css" rel="stylesheet" />

    <!-- Chart JS -->
    <script src="~/js/zChart.js"></script>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Scroll Reveal -->
    <script src="~/js/zScrollReveal.js"></script>
    <script>
        window.sr = ScrollReveal({ reset: false });

        // Custom Settings
        sr.reveal('.reveal', {
            origin: 'right',
            duration: 2000,
        });
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/zMain.css" />
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<body>

</body>
