@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="homepage">
    <div class="image">
        <img src="~/images/homepage-logo.jpeg" alt="homepage" class="img-responsive" />
    </div>
</div>
<div class="listed-info">
    <h2 class="text-center" style="padding-bottom: 20px">
        <u>
            <b> A Web Application to Analyze Biofeedback to Convey Emotion </b>
        </u>
    </h2>
    <h4 class="text-center" style="padding-bottom: 20px"> By: Norah Jean-Charles and Leonard Hayes</h4>
    <p style="padding: 30px 140px 30px 140px">
        This project, "A Web Application to Analyze Biofeedback to Convey Emotion" is a part of Dr.Spoletini's project,
        "A Comprehensive Approach to Support the Requirements Analyst Before, During, and After Requirements
        Elicitation Interviews." In short, our project is to create a web app that can show data in real-time.
        To learn more about the project, read more below.
    </p>
</div>

<div class="listed-info">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Overview </h2>
            <div class="list">
                <ul>
                    <li><a> NSF Grant Information</a></li>
                    <li><a> Project Information</a></li>
                    <li><a> Project Director</a></li>
                    <li><a> Undergraduate Research Assistants</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">How To</h2>
            <div class="list">
                <ul>
                    <li><a> Use the E4 Wristband</a></li>
                    <li><a> Use the web application</a></li>
                    <li><a> Understand the Sensory Outputs</a></li>
                    <li><a> Understand the Emotional Range</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">More</h2>
            <div class="list">
                <ul>
                    <li><a> Upcoming Publications</a></li>
                    <li><a> Past Research Conferences</a></li>
                    <li><a> Related Projects</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
